Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

.lintstagedrc:

{
  "frontend/**/*": "node scripts/verifyScope.js frontend",
  "backend/**/*": "node scripts/verifyScope.js backend",
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "backend/**/*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write"],
  "*.scss": "prettier --write"
}

feat(backend): :memo: wip api documentation
  backend/docs/api-docs.json
Due: node scripts/verifyScope.js backend, prettier --write

fix(backend): :bug: fix register functions
  backend/controllers/auth.js
  backend/controllers/passenger.js
  backend/controllers/user.js
  backend/routes/users.js
  backend/schemas/authSchema.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(frontend): :bug: Fix bug with styles and layouts
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/pages/SeatSelection.jsx
  frontend/src/pages/ticket/Payment.jsx
  frontend/src/pages/ticket/SeatSelection.jsx
  frontend/src/pages/ticket/Summary.jsx
  frontend/src/pages/ticket/TripReservation.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Fix router not using hoc RequireSchedule
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/hoc/RedirectIfMissingRequiredParams.jsx
  frontend/src/hoc/RequireScheduleData.jsx
  frontend/src/hooks/useInitializeStateFromUrl.js
  frontend/src/hooks/useQueryParams.js
  frontend/src/hooks/useSchedules.js
  frontend/src/pages/ticket/SeatSelection.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add redux middleware and a new passengerForm
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/DataForm/DataForm.jsx
  frontend/src/store/Form/formActions.js
  frontend/src/store/Form/formReducer.js
  frontend/src/store/middleware/updatePassengerFormMiddleware.js
  frontend/src/store/store.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

docs(backend): wip documenting endpoints
  backend/controllers/passenger.js
  backend/controllers/vehicle.js
  backend/database/models/passenger.js
  backend/docs/api-docs.json
  backend/routes/vehicle.js
  backend/services/passenger.js
  backend/services/vehicle.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): Created PurchaseDetails component
  frontend/src/components/PurchaseDetails/PurchaseDetails.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

ci(frontend): package.json
  package-lock.json
Due: prettier --write

fix(backend): removed complete host of backend
  backend/views/index.jade
Due: node scripts/verifyScope.js backend

fix(backend): included servers info for api docs
  backend/config/swagger.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): added redocly webpage
  backend/app.js
  backend/views/redoc.jade
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): useHook for create Routes
  frontend/src/components/RoutesComponent.jsx
  frontend/src/hooks/useRoutes.js
  frontend/src/services/routes.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Created AdminModal component.
  frontend/src/assets/AdminModal/alert.svg
  frontend/src/components/AdminModal/AdminModal.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :sparkles: Refactor component Seats to accept data easily
  frontend/src/components/Seats/Seats.jsx
  frontend/src/hooks/useRoute.js
  frontend/src/store/Seat/seatReducer.js
  frontend/src/utils/dateUtils.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): removed repeated tags
  backend/docs/api-docs.json
Due: node scripts/verifyScope.js backend, prettier --write

feat(frontend): :sparkles: Implement part of websocket in Seats
  frontend/src/assets/Logo/logo-horizontal.svg
  frontend/src/components/Seats/Seats.jsx
  frontend/src/components/TravelHeader/components/atoms/LogoTravel.jsx
  frontend/src/components/TravelHeader/components/molecules/TripDetails.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): admin Layout created
  frontend/src/components/Navbar/Logo.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/SideBarAdmin/SideBarAdmin.jsx
  frontend/src/components/TravelHeader/components/atoms/AccountButton.jsx
  frontend/src/layouts/AdminLayout.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create a Not Found Page
  frontend/src/pages/Error/NotFoundPage.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): Restaurar botones eliminados en la vista de administrador (#222)
  frontend/src/components/Admin/components/atoms/CancelButton/CancelButton.jsx
  frontend/src/components/Admin/components/atoms/SubmitButton/SubmitButton.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement new features on page Seats and Passengers
  frontend/src/components/BusTripDetails/components/molecules/BusSeatInfo.jsx
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ChooseTravel/Schedule.jsx
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/PassengerForm/components/molecules/FormNavigation.jsx
  frontend/src/components/PassengerForm/components/organisms/PassengerForm.jsx
  frontend/src/components/Seats/Seats.jsx
  frontend/src/hooks/useSchedules.js
  frontend/src/pages/ticket/Summary.jsx
  frontend/src/pages/ticket/TripReservation.jsx
  frontend/src/services/api.js
  frontend/src/store/Form/formActions.js
  frontend/src/store/Form/formReducer.js
  frontend/src/store/Seat/seatActions.js
  frontend/src/store/Seat/seatReducer.js
  frontend/src/store/middleware/updatePassengerFormMiddleware.js
  frontend/src/utils/websocketUtils.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :heavy_plus_sign: Add missing dependencies
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix(frontend): :bug: Fix bug with message sent to websocket in Seats
  frontend/src/components/Seats/Seats.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Add logo in page RegisterAlt
  frontend/src/assets/Logo/logo-horizontal.svg
  frontend/src/pages/auth/RegisterAlt.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): added terminal body schema validations with zod
  backend/routes/terminal.js
  backend/schemas/terminalSchema.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): added api docs for handle invalid body request
  backend/docs/api-docs.json
Due: node scripts/verifyScope.js backend, prettier --write

feat(frontend): inputSelectAdmin created (#215)
  frontend/src/components/InputSelectAdmin.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): added city body schema validation with zod
  backend/docs/api-docs.json
  backend/routes/city.js
  backend/schemas/citySchema.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add frequency component
  frontend/src/components/Admin/components/FrequencyButton/FrequencyButton.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): added scripts to notify after a reservation
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): query terminals created
  frontend/src/components/RoutesComponent.jsx
  frontend/src/components/Terminals.jsx
  frontend/src/hooks/useTerminals.js
  frontend/src/pages/auth/user/UserSettings.jsx
  frontend/src/services/terminals.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): :sparkles: mail confirmation for register (#228)
  backend/config/mailer.js
  backend/controllers/auth.js
  backend/docs/api-docs.json
  backend/package.json
  backend/public/images/logo.png
  backend/routes/city.js
  backend/services/mailer.js
  backend/views/index.jade
  package-lock.json
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): Created table component for rendering information
  frontend/src/assets/DataTable/ArrowRightBlue.svg
  frontend/src/assets/DataTable/ArrowUpOrange.svg
  frontend/src/components/Admin/components/atoms/ButtonArrowRight.jsx
  frontend/src/components/Admin/components/atoms/ButtonArrowUp.jsx
  frontend/src/components/Admin/components/atoms/ProgressBarCustom.jsx
  frontend/src/components/Admin/components/atoms/TableCell.jsx
  frontend/src/components/Admin/components/atoms/TableCellHeader.jsx
  frontend/src/components/Admin/components/atoms/TableHeaderWrapper.jsx
  frontend/src/components/Admin/components/molecules/TableHeader.jsx
  frontend/src/components/Admin/components/molecules/TableRow.jsx
  frontend/src/components/Admin/components/organisms/DataTable.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): create route component
  frontend/src/components/Admin/components/CreateRoute.jsx
  frontend/src/components/Admin/components/atoms/CancelButton.jsx
  frontend/src/components/Admin/components/atoms/InputSelectAdmin.jsx
  frontend/src/components/Admin/components/atoms/InputTextAdmin.jsx
  frontend/src/components/Admin/components/atoms/SubmitButton.jsx
  frontend/src/components/InputTextAdmin.jsx
  frontend/src/components/SideBarAdmin/SideBarAdmin.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
  frontend/src/layouts/AdminLayout.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): added validations for websocket
  backend/schemas/socketSchema.js
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

233 organizar (#234)
  frontend/src/components/Admin/components/organisms/CreateRoute.jsx
  frontend/src/components/Navbar/Logo.jsx
  frontend/src/components/TravelHeader/components/atoms/LogoTravel.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
  frontend/src/pages/auth/admin/CreateRoutesPage.jsx
  frontend/src/pages/auth/admin/HomeAdmin.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): removed unnecessary class
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

refactor(backend): :zap: route and schedule response
  backend/helpers/getArrivalTime.js
  backend/routes/route.js
  backend/routes/schedules.js
  backend/services/route.js
  backend/services/schedule.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

Update router.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): cambios en el componente CrearRutas , agregar link al sideBar
  frontend/src/components/Admin/components/organisms/CreateRoute.jsx
  frontend/src/components/SideBarAdmin/SideBarAdmin.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

revert: :rewind: Revert backend file blockedSeats deleted
  backend/database/models/blockedSeats.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix
