Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

.lintstagedrc:

{
  "frontend/**/*": "node scripts/verifyScope.js frontend",
  "backend/**/*": "node scripts/verifyScope.js backend",
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "backend/**/*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write"],
  "*.scss": "prettier --write"
}

chore(frontend): React-Icons dependency added.
  package-lock.json
  package.json
Due: prettier --write

feat(frontend): :sparkles: Add component Profits.jsx to page Home
  frontend/src/components/Profits.jsx
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

chore(frontend): :twisted_rightwards_arrows: Merge develop branch to fetch new components
  frontend/src/components/Footer.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

ci(frontend): :construction_worker: deploy workflow
  .github/workflows/deploy.yml
Due: none

fix(frontend): small changes in footer.
  frontend/src/components/Footer.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add TravelBenefitsSection component
  frontend/src/components/TravelBenefitsSection.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix: optional rollup
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

ci(frontend): script deploy
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

refactor(frontend): :art: Add Footer and TravelBenefitsSection
  frontend/src/layouts/MainLayout.jsx
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

chore(frontend): :art: Reorder project folders for better organization (#42)
  frontend/src/components/Benefits/BenefitPictures.jsx
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/FormSearchTravels/components/molecules/NumberInput/NumberInput.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/Hero/Hero.jsx
  frontend/src/components/Profits/CardProfits.jsx
  frontend/src/components/Profits/Profits.jsx
  frontend/src/components/TravelBenefits/TravelBenefitsSection.jsx
  frontend/src/components/TravelSteps/TravelStepsCard.jsx
  frontend/src/components/TravelSteps/TravelStepsHeader.jsx
  frontend/src/components/TravelSteps/TravelStepsWrapper.jsx
  frontend/src/layouts/MainLayout.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/home/index.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

23 crear modelos de terminal y ciudad (#27)
  backend/database/migrations/20240214224249-create-city.js
  backend/database/migrations/20240214224250-create-terminal.js
  backend/database/models/city.js
  backend/database/models/terminal.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): suscribeEmail component (#36)
  frontend/src/components/SuscribeEmail.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

39 crear seccion por que viajar con nosotros (#40)
  frontend/src/assets/TravelBenefitsSection/placeholder.webp
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/TravelBenefits/TravelBenefitsSection.jsx
  package-lock.json
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add Navbar
  frontend/src/components/Navbar/Logo.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NavigationLinks.jsx
  frontend/src/components/Navbar/UserActions.jsx
  frontend/src/layouts/MainLayout.jsx
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

chore(backend): scripts database
  backend/package.json
  package.json
Due: node scripts/verifyScope.js backend, prettier --write

refactor(frontend): The navbar was placed in the layout
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NavigationLinks.jsx
  frontend/src/layouts/MainLayout.jsx
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): component schedule created
  frontend/src/assets/arrow-back.svg
  frontend/src/assets/arrow-green.svg
  frontend/src/assets/arrow.svg
  frontend/src/assets/bus-icon.svg
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ChooseTravel/Schedule.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): fixed TravelBenefitsSection responsiveness issue (#50)
  frontend/src/components/TravelBenefits/TravelBenefitsSection.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create component PricesCard which contains PriceList and PriceRow
  frontend/src/assets/PricesCard/seat.svg
  frontend/src/assets/PricesCard/seatwithperson.svg
  frontend/src/assets/PricesCard/snowflake.svg
  frontend/src/assets/PricesCard/usb.svg
  frontend/src/components/PricesCard/PriceList.jsx
  frontend/src/components/PricesCard/PriceRow.jsx
  frontend/src/components/PricesCard/PricesCard.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :art: Refactor component PricesCard
  frontend/src/components/PricesCard/PricesCard.jsx
  frontend/src/components/PricesCard/SeatLegendList.jsx
  frontend/src/components/PricesCard/SeatLegendRow.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

55 instalar daisyui (#56)
  frontend/index.html
  frontend/tailwind.config.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): Change in the Hero component
  frontend/src/components/Hero/Hero.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Create TravelHeader component
  frontend/src/assets/TravelHeader/Arrow Back.svg
  frontend/src/assets/TravelHeader/Arrow Right.svg
  frontend/src/assets/TravelHeader/Calendar.svg
  frontend/src/assets/TravelHeader/Person.svg
  frontend/src/assets/TravelHeader/User.svg
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/TravelHeader/components/atoms/AccountButton.jsx
  frontend/src/components/TravelHeader/components/atoms/IconCityLink.jsx
  frontend/src/components/TravelHeader/components/atoms/LinkWithIcon.jsx
  frontend/src/components/TravelHeader/components/atoms/LogoTravel.jsx
  frontend/src/components/TravelHeader/components/atoms/SingleCityLink.jsx
  frontend/src/components/TravelHeader/components/atoms/TripLink.jsx
  frontend/src/components/TravelHeader/components/atoms/TripLinkIcon.jsx
  frontend/src/components/TravelHeader/components/molecules/TripDetails.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
  frontend/src/components/TravelHeader/index.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): modelo ruta y horario (#58)
  backend/database/migrations/20240218205747-create-route.js
  backend/database/migrations/20240218221909-create-schedule.js
  backend/database/models/route.js
  backend/database/models/schedule.js
  backend/database/models/terminal.js
  backend/database/seeders/20240218224049-demo-city.js
  backend/database/seeders/20240218224127-demo-terminal.js
  backend/database/seeders/20240218224151-demo-route.js
  backend/database/seeders/20240218224215-demo-schedule.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(frontend): :art: Fix literal template Tailwind bug
  frontend/src/components/PricesCard/PriceList.jsx
  frontend/src/components/PricesCard/SeatLegendList.jsx
  frontend/src/components/PricesCard/SeatLegendRow.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :art: Refactor code to look like design
  frontend/src/components/PricesCard/PriceList.jsx
  frontend/src/components/PricesCard/PriceRow.jsx
  frontend/src/components/PricesCard/PricesCard.jsx
  frontend/src/components/PricesCard/SeatLegendList.jsx
  frontend/src/components/PricesCard/SeatLegendRow.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :art: Create placeholder data and use through components
  frontend/src/components/PricesCard/PriceList.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Add registration button component
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/TravelHeader/components/atoms/LogoTravel.jsx
  frontend/src/components/TravelHeader/components/atoms/RegisterButton.jsx
  frontend/src/components/TravelHeader/components/atoms/TripLink.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create component Itinerary which includes … (#61)
  frontend/src/assets/Itinerary/arrow.svg
  frontend/src/assets/Itinerary/bus.svg
  frontend/src/components/Itinerary/Itinerary.jsx
  frontend/src/components/Itinerary/ItinerarySchedule.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Added Seats component. Used with tickets parameter.
  frontend/src/assets/Seats/driver.svg
  frontend/src/components/Seats/Seats.jsx
  frontend/src/components/TravelBenefits/TravelBenefitsSection.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): created models Vehicle and Amenity (#47)
  backend/database/migrations/20240216231702-create-vehicle.js
  backend/database/migrations/20240216235709-create-amenity.js
  backend/database/models/amenity.js
  backend/database/models/vehicle.js
  backend/database/seeders/20240217011051-demo-vehicle.js
  backend/database/seeders/20240217011139-demo-amenity.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): steps navbar for buy tickets
  frontend/src/assets/Steps/asientos.svg
  frontend/src/assets/Steps/blueArrow.svg
  frontend/src/assets/Steps/greenArrow.svg
  frontend/src/assets/Steps/pago.svg
  frontend/src/assets/Steps/pasajero.svg
  frontend/src/assets/Steps/resumen.svg
  frontend/src/assets/Steps/viajes.svg
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/Steps/Steps.jsx
  frontend/src/layouts/StepsLayout.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): suscribeEmail
  frontend/src/components/SuscribeEmail.jsx
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

77 crear vista de paso 2 asientos (#78)
  frontend/src/assets/bus-icon.svg
  frontend/src/components/BackButton.jsx
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/Itinerary/Itinerary.jsx
  frontend/src/components/PricesCard/PricesCard.jsx
  frontend/src/components/Seats/Seats.jsx
  frontend/src/pages/SeatSelection.jsx
  frontend/src/pages/TravelSelection.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): Create netlify.toml file in order to fix redirect
  frontend/netlify.toml
Due: node scripts/verifyScope.js frontend

feat(frontend): :heavy_plus_sign: Install dependencies react-redux and reduxjs/toolkit
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

feat(frontend): :sparkles: Add redux slice for seat
  frontend/src/store/Seat/seatActions.js
  frontend/src/store/Seat/seatReducer.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add redux slice for travel
  frontend/src/store/Travel/travelActions.js
  frontend/src/store/Travel/travelReducer.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create store.js with rootReducer and slices
  frontend/src/store/store.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: modify handleSearch to dispatch action SET_SEAT_QUANTITY
  frontend/src/App.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix
