Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement react-query fetch into page TravelSelection
  frontend/package.json
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ChooseTravel/Schedule.jsx
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/Itinerary/Itinerary.jsx
  frontend/src/components/Steps/Steps.jsx
  frontend/src/components/admin/components/atoms/CancelButton/CancelButton.jsx
  frontend/src/components/admin/components/atoms/SubmitButton/SubmitButton.jsx
  frontend/src/hooks/useQueryParams.js
  frontend/src/hooks/useSchedules.js
  frontend/src/pages/SeatSelection.jsx
  frontend/src/services/api.js
  frontend/src/services/schedules.js
  frontend/src/utils/dateUtils.js
  frontend/src/utils/formatUtils.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Fix price of Schedule not displaying correctly
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Format data according to design
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ChooseTravel/Schedule.jsx
  frontend/src/components/Itinerary/Itinerary.jsx
  frontend/src/pages/SeatSelection.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :art: Modify styles of page Home to look like the design
  frontend/src/assets/Hero/hero-image.webp
  frontend/src/assets/Logo/logo-icon.svg
  frontend/src/assets/Logo/logo-text.svg
  frontend/src/components/Benefits/BenefitPictures.jsx
  frontend/src/components/FormSearchTravels/components/atoms/SearchButton.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/Hero/Hero.jsx
  frontend/src/components/LogoImage/LogoImage.jsx
  frontend/src/components/Navbar/Logo.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NavigationLinks.jsx
  frontend/src/components/Navbar/UserActions.jsx
  frontend/src/components/Profits/Profits.jsx
  frontend/src/components/TravelBenefits/TravelBenefitsSection.jsx
  frontend/src/components/TravelSteps/TravelStepsHeader.jsx
  frontend/src/components/TravelSteps/TravelStepsWrapper.jsx
  frontend/tailwind.config.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

Update deploy_frontend_vercel.yml
  .github/workflows/deploy_frontend_vercel.yml
Due: none

style(frontend): :lipstick: Change images of component BenefitPictures
  frontend/src/assets/BenefitPictures/promo-1.webp
  frontend/src/assets/BenefitPictures/promo-2.webp
  frontend/src/components/Benefits/BenefitPictures.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

ci: Update deploy_frontend_vercel.yml to work again on commits
  .github/workflows/deploy_frontend_vercel.yml
Due: none

chore(frontend): Test to see if it deploys
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): inputTextAdmin component
  frontend/src/components/InputTextAdmin.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): sidebar from admin
  frontend/src/App.jsx
  frontend/src/assets/AdminUsuario/ajuste.svg
  frontend/src/assets/AdminUsuario/arrow-down.svg
  frontend/src/assets/AdminUsuario/bus.svg
  frontend/src/assets/AdminUsuario/pagos.svg
  frontend/src/assets/AdminUsuario/pasajeros.svg
  frontend/src/assets/AdminUsuario/rutas.svg
  frontend/src/assets/AdminUsuario/terminal.svg
  frontend/src/components/SideBarAdmin/SideBarAdmin.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): sidebar created
  frontend/src/App.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement first iteration of Two way trip system
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ChooseTravel/Schedule.jsx
  frontend/src/components/ChooseTravel/ScheduleList.jsx
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/hooks/useQueryParams.js
  frontend/src/hooks/useSchedules.js
  frontend/src/services/schedules.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement redux functionality on page Payment
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/CreditCardForm/CreditCardForm.jsx
  frontend/src/hooks/useQueryParams.js
  frontend/src/hooks/useSchedules.js
  frontend/src/pages/ticket/Payment.jsx
  frontend/src/pages/ticket/Summary.jsx
  frontend/src/services/schedules.js
  frontend/src/store/Form/formActions.js
  frontend/src/store/Form/formReducer.js
  frontend/src/store/store.js
  frontend/src/utils/dateUtils.js
  frontend/src/utils/timeUtils.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement redux functionality on page Summary
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/DataForm/DataForm.jsx
  frontend/src/components/PaymentMethod/PaymentMethod.jsx
  frontend/src/pages/SeatSelection.jsx
  frontend/src/pages/ticket/TripReservation.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

ci: :green_heart: Get latest workflow changes from branch develop
  .github/workflows/deploy_frontend_vercel.yml
Due: none

fix(frontend): :bug: Fix bug when returnSchedules is null
  frontend/src/pages/ticket/Summary.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): added blocketSeats model, updated ticket model and it's migration
  backend/database/migrations/20240301113917-create-ticket.js
  backend/database/models/blockedSeats.js
  backend/database/models/ticket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): updated reservation service, and added webSocket service
  backend/services/reservation.js
  backend/services/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): added a new service function for websocket
  backend/services/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): updated and integrated websockets with services
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

refactor(backend): prevent the repeated usage of Date for the parameter "date"
  backend/services/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): correctly integrated with services and removed to-do
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): responsive of "Nuestros Destinos"
  frontend/src/components/Profits/Profits.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement early versions of a HOC that redirects
  frontend/src/components/Itinerary/Itinerary.jsx
  frontend/src/components/Itinerary/ItinerarySchedule.jsx
  frontend/src/hoc/RedirectIfMissingRequiredParams.jsx
  frontend/src/pages/SeatSelection.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): new design of our destinies
  frontend/src/assets/BenefitPictures/heart.svg
  frontend/src/assets/Profits/Bariloche.png
  frontend/src/assets/Profits/MarPlata.png
  frontend/src/assets/Profits/Merlo.png
  frontend/src/assets/Profits/VillaCarlos.png
  frontend/src/components/Profits/CardProfits.jsx
  frontend/src/components/Profits/Profits.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create example for react-query fetch
  frontend/src/hooks/useRoutes.js
  frontend/src/services/api.js
  frontend/src/services/routes.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): :bug: deleted dni validation for register
  backend/schemas/authSchema.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): :sparkles: map route (#198)
  frontend/index.html
  frontend/package.json
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/MapRoute/MapRoute.jsx
  frontend/src/index.css
  package-lock.json
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): Change SCHEDULES_URL constant to use the API_DEPLOY_URL
  frontend/src/services/api.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Fix bug in props passing to Itinerary
  frontend/src/pages/SeatSelection.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(backend): methods logic separated
  backend/services/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): updated logic, fix bugs, added ENV vars
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

ci: add secret for env (#202)
  .github/workflows/deploy_frontend.yml
Due: none

fix(backend): fix cors
  backend/config/cors.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): fix workflows backend (#203)
  .github/workflows/deploy_backend.yml
Due: none

feat(frontend): 140 crear login form (#201)
  frontend/src/assets/LoginForm/google_logo.svg
  frontend/src/assets/LoginForm/road_image.jpg
  frontend/src/assets/LoginForm/user_logo.svg
  frontend/src/components/Login/LoginForm.jsx
  frontend/src/router.jsx
  frontend/src/services/api.js
  frontend/src/services/auth.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): Document endpoints of vehicles and amenities (#188)
  backend/app.js
  backend/controllers/amenity.js
  backend/controllers/vehicle.js
  backend/docs/api-docs.json
  backend/routes/amenity.js
  backend/services/amenity.js
  backend/services/vehicle.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(frontend): :bug: Include enableCheckoutPage in actions and reducer from redux
  frontend/src/store/EnabledPages/enabledPagesActions.js
  frontend/src/store/EnabledPages/enabledPagesReducer.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor: :twisted_rightwards_arrows: Merge from branch develop backend folder into branch
  backend/app.js
  backend/bin/www
  backend/controllers/reservation.js
  backend/controllers/ticket.js
  backend/database/migrations/20240214002338-create-user.js
  backend/database/migrations/20240216231702-create-seat.js
  backend/database/migrations/20240301113917-create-ticket.js
  backend/database/models/ticket.js
  backend/database/models/user.js
  backend/database/seeders/20240214225853-demo-user.js
  backend/package.json
  backend/routes/reservation.js
  backend/routes/ticket.js
  backend/services/reservation.js
  backend/services/ticket.js
  backend/services/webSocket.js
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

Path conditions:
  node scripts/verifyScope.js frontend: any of: frontend/**/*
  node scripts/verifyScope.js backend: any of: backend/**/*
  prettier --write: ((((((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,ts})) or (any of: *.json)) or (any of: *.ts)) or (any of: *.js)) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: (((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,ts})) or (any of: *.ts)) or (any of: *.js)
