Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

ci: update deploy_frontend.yml
  .github/workflows/deploy_frontend.yml
Due: none

feat(backend): :sparkles: passenger endpoints (#158)
  .github/workflows/db_migrations.yml
  backend/app.js
  backend/controllers/passenger.js
  backend/controllers/route.js
  backend/database/models/city.js
  backend/database/models/reservation.js
  backend/database/models/terminal.js
  backend/docs/api-docs.json
  backend/routes/passenger.js
  backend/services/passenger.js
  package-lock.json
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): :fire: add zod dependency
  backend/package.json
Due: node scripts/verifyScope.js backend, prettier --write

feat(frontend): myPurchases created (#157)
  frontend/src/assets/UserPurchase/mardeplata.jpg
  frontend/src/pages/auth/user/ItineraryPurchases.jsx
  frontend/src/pages/auth/user/MyPurchases.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): rollback the debug script
  backend/package.json
Due: node scripts/verifyScope.js backend, prettier --write

refactor(frontend): :fire: Remove SelectInput in Register page
  frontend/src/pages/auth/Register.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

137 crear componente creditcardform (#159)
  backend/database/migrations/20240216192955-create-seat.js
  backend/database/migrations/20240216231702-create-vehicle.js
  backend/middlewares/validateSchema.js
  backend/schemas/routeSchema.js
  frontend/package.json
  frontend/src/assets/CreditCardForm/add-circle.svg
  frontend/src/assets/CreditCardForm/check-circle.svg
  frontend/src/assets/CreditCardForm/credit-card.svg
  frontend/src/assets/arrow-back.svg
  frontend/src/components/BackButton.jsx
  frontend/src/components/CreditCardForm/CardNumberInput.jsx
  frontend/src/components/CreditCardForm/CreditCardForm.css
  frontend/src/components/CreditCardForm/CreditCardForm.jsx
  frontend/src/components/CreditCardForm/MailInput.jsx
  frontend/src/components/CreditCardForm/SelectForm.jsx
  frontend/src/components/CreditCardForm/TextInput.jsx
  frontend/src/components/TripDetailsCard.jsx
  frontend/src/index.css
  frontend/src/pages/ticket/Payment.jsx
  frontend/src/router.jsx
  frontend/src/utils/dateUtils.js
  frontend/tailwind.config.js
Due: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create RegisterAlt for an alternative Register page
  frontend/src/components/Register/ErrorAlert.jsx
  frontend/src/components/Register/LoginForm.jsx
  frontend/src/hooks/useRegister.js
  frontend/src/index.css
  frontend/src/pages/auth/RegisterAlt.jsx
  frontend/src/router.jsx
  frontend/src/services/api.js
  frontend/tailwind.config.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): :lipstick: Change CTA buttons color
  frontend/src/pages/auth/RegisterAlt.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

Update deploy_frontend_vercel.yml
  .github/workflows/deploy_frontend_vercel.yml
Due: none

style(frontend): :lipstick: Modify font-family to Plus Jakarta Sans
  frontend/src/index.css
Due: node scripts/verifyScope.js frontend

feat(frontend): :sparkles: Create page Summary
  frontend/index.html
  frontend/src/components/BusTripDetails/components/atoms/HorizontalLabelPair.jsx
  frontend/src/components/BusTripDetails/components/atoms/TimeRange.jsx
  frontend/src/components/BusTripDetails/components/atoms/TripDetailsHeader.jsx
  frontend/src/components/BusTripDetails/components/molecules/LocationArrowRow.jsx
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/DataForm/DataForm.jsx
  frontend/src/components/PassengerForm/components/atoms/TitleForm.jsx
  frontend/src/components/PassengerForm/components/organisms/PassengerForm.jsx
  frontend/src/components/TripDetailsCard.jsx
  frontend/src/pages/ticket/Summary.jsx
  frontend/src/pages/ticket/TripReservation.jsx
  frontend/src/router.jsx
  frontend/tailwind.config.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Modify Steps component to include Link to each section
  frontend/src/components/Steps/Steps.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: bundle path for deployment
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix: resolver conflico en archivos (#163)
  backend/database/migrations/20240216192955-create-seat.js
  backend/database/migrations/20240216205747-create-route.js
  backend/database/migrations/20240216221909-create-schedule.js
  backend/database/migrations/20240216231702-create-vehicle.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

chore: delete frontend/src/store/.gitkeep (#165)
  frontend/src/store/.gitkeep
Due: node scripts/verifyScope.js frontend

feat(frontend): :bulb: Add TODO to make functionality in Steps
  frontend/src/components/Steps/Steps.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): :art: Modify submit button text
  frontend/src/pages/auth/RegisterAlt.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Remove hardcoded values from RegisterAlt page
  frontend/src/pages/auth/RegisterAlt.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add component payment method
  frontend/src/assets/PaymentMethod/masterCard.svg
  frontend/src/assets/PaymentMethod/mercadoPagoLogo.svg
  frontend/src/assets/PaymentMethod/visaCard.svg
  frontend/src/components/PaymentMethod/PaymentMethod.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add link back to Home in page RegisterAlt
  frontend/src/pages/auth/RegisterAlt.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create services and hooks to fetch routes
  frontend/src/hooks/useRoute.js
  frontend/src/services/api.js
  frontend/src/services/route.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(backend): :twisted_rightwards_arrows: Merge branch develop
  backend/database/migrations/20240216192955-create-seat.js
  backend/database/migrations/20240216205747-create-route.js
  backend/database/migrations/20240216221909-create-schedule.js
  backend/database/migrations/20240216231702-create-vehicle.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add componente PaymentMethod to Summary page
  frontend/src/pages/ticket/Summary.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

docs: update README.md (#164)
  README.md
Due: none

feat(backend): :sparkles: auth validations (#169)
  backend/controllers/auth.js
  backend/middlewares/validateSchema.js
  backend/routes/auth.js
  backend/schemas/authSchema.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

style(frontend): organice ticket buy pages
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ChooseTravel/Schedule.jsx
  frontend/src/pages/SeatSelection.jsx
  frontend/src/pages/TravelSelection.jsx
  frontend/src/pages/ticket/Payment.jsx
  frontend/src/pages/ticket/SeatSelection.jsx
  frontend/src/pages/ticket/Summary.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

173 schema de validacin de zod para horario (#176)
  backend/routes/schedules.js
  backend/schemas/scheduleSchema.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(frontend): title fix
  frontend/src/pages/ticket/Summary.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(backend): :recycle: delete dni in user model
  backend/database/migrations/20240214002338-create-user.js
  backend/database/models/user.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): :construction: work in progress with reservation endpoints
  backend/controllers/reservation.js
  backend/database/models/reservation.js
  backend/routes/reservation.js
  backend/services/reservation.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

refactor(backend): :fire: readjust to models and migrations
  backend/database/migrations/20240216231702-create-seat.js
  backend/database/migrations/20240301113917-create-ticket.js
  backend/database/seeders/20240214225853-demo-user.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): :sparkles: ticket model
  backend/app.js
  backend/database/models/ticket.js
  backend/services/schedule.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): :sparkles: ticket endpoints
  backend/app.js
  backend/controllers/reservation.js
  backend/controllers/ticket.js
  backend/routes/ticket.js
  backend/services/ticket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): nested false for route and schedule, include route on schedule endpoint
  backend/services/route.js
  backend/services/schedule.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): Added CancelButton component
  frontend/src/components/admin/components/atoms/CancelButton/CancelButton.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Added SubmitButton component
  frontend/src/components/admin/components/atoms/SubmitButton/SubmitButton.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement react-query fetch in FormSearchTravels
  frontend/src/components/BackButton.jsx
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
  frontend/src/components/ChooseTravel/Schedule.jsx
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/FormSearchTravels/components/atoms/SearchButton.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/Itinerary/Itinerary.jsx
  frontend/src/components/Steps/Steps.jsx
  frontend/src/hooks/useCities.js
  frontend/src/hooks/useSchedules.js
  frontend/src/pages/SeatSelection.jsx
  frontend/src/pages/ticket/TripReservation.jsx
  frontend/src/services/api.js
  frontend/src/services/cities.js
  frontend/src/services/route.js
  frontend/src/services/schedules.js
  frontend/src/store/QueryParams/queryParamsActions.js
  frontend/src/store/QueryParams/queryParamsReducer.js
  frontend/src/store/store.js
  frontend/src/utils/dateUtils.js
  frontend/src/utils/formatUtils.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): nested route information in getScheduleById endpoint
  backend/services/schedule.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

Path conditions:
  node scripts/verifyScope.js frontend: any of: frontend/**/*
  node scripts/verifyScope.js backend: any of: backend/**/*
  prettier --write: ((((((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,ts})) or (any of: *.json)) or (any of: *.ts)) or (any of: *.js)) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: (((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,ts})) or (any of: *.ts)) or (any of: *.js)
