Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

.lintstagedrc:

{
  "frontend/**/*": "node scripts/verifyScope.js frontend",
  "backend/**/*": "node scripts/verifyScope.js backend",
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "backend/**/*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write"],
  "*.scss": "prettier --write"
}

fix(frontend): :bug: Fix wrong endpoint for schedules
  frontend/src/services/schedules.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Fix logo appearing twice
  frontend/src/components/TravelHeader/components/atoms/LogoTravel.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): creater terminals component
  frontend/src/components/Admin/components/atoms/InputSelectAdmin.jsx
  frontend/src/components/Admin/components/organisms/CreateTerminal.jsx
  frontend/src/components/Admin/components/organisms/SideBarAdmin.jsx
  frontend/src/layouts/AdminLayout.jsx
  frontend/src/pages/auth/admin/CreateTerminalsPage.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): create servie component
  frontend/src/components/Admin/components/atoms/FrequencyButton.jsx
  frontend/src/components/Admin/components/organisms/CreateService.jsx
  frontend/src/components/admin/components/atoms/CancelButton/CancelButton.jsx
  frontend/src/components/admin/components/atoms/SubmitButton/SubmitButton.jsx
  frontend/src/pages/auth/admin/CreateServicesPage.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): my terminals and my routes
  frontend/src/components/Admin/components/molecules/TableHeaderRoutes.jsx
  frontend/src/components/Admin/components/molecules/TableHeaderTerminals.jsx
  frontend/src/components/Admin/components/molecules/TableRowRoutes.jsx
  frontend/src/components/Admin/components/molecules/TableRowTerminals.jsx
  frontend/src/components/Admin/components/organisms/DataTableRoutes.jsx
  frontend/src/components/Admin/components/organisms/DataTableTerminals.jsx
  frontend/src/pages/auth/admin/MyRoutes.jsx
  frontend/src/pages/auth/admin/MyTerminals.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Add CityFilter component (#247)
  frontend/src/assets/CityDropdownFilter/ArrowDown.svg
  frontend/src/assets/CityDropdownFilter/Filter.svg
  frontend/src/components/Admin/components/molecules/SelectedCityBadge.jsx
  frontend/src/components/Admin/components/organisms/CityDropdownFilter.jsx
  frontend/src/components/Admin/components/organisms/CitySelectionContainer.jsx
  frontend/src/components/Admin/components/organisms/SideBarAdmin.jsx
  frontend/src/pages/auth/admin/HomeAdmin.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement two-way flow in page SeatSelection
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/ContinueButton.jsx
  frontend/src/components/Seats/Seats.jsx
  frontend/src/pages/ticket/Payment.jsx
  frontend/src/pages/ticket/SeatSelection.jsx
  frontend/src/pages/ticket/Summary.jsx
  frontend/src/services/api.js
  frontend/src/store/Seat/seatActions.js
  frontend/src/store/Seat/seatReducer.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add checkout page and implement redux with PassengerForm
  frontend/src/assets/Checkout/bus-checkout.svg
  frontend/src/components/PassengerForm/components/molecules/FormNavigation.jsx
  frontend/src/components/PassengerForm/components/organisms/PassengerForm.jsx
  frontend/src/components/Seats/Seats.jsx
  frontend/src/pages/ticket/Checkout.jsx
  frontend/src/router.jsx
  frontend/src/store/Seat/seatActions.js
  frontend/src/store/Seat/seatReducer.js
  frontend/src/store/middleware/updatePassengerFormMiddleware.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Comment out unused code
  frontend/src/components/ContinueButton.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Fix bug that re-renders mapbox
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Add try-catch in case WebGL fails to load
  frontend/src/components/MapRoute/MapRoute.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Add error handling for MapBox
  frontend/src/components/ChooseTravel/ChooseTravel.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): Update responsive design for TravelHeader and Regist… (#250)
  frontend/src/components/BusTripDetails/components/atoms/Divider.jsx
  frontend/src/components/BusTripDetails/components/atoms/TripDetailsHeader.jsx
  frontend/src/components/BusTripDetails/components/molecules/LocationArrowRow.jsx
  frontend/src/components/CreditCardForm/SelectForm.jsx
  frontend/src/components/TravelHeader/components/atoms/AccountButton.jsx
  frontend/src/components/TravelHeader/components/atoms/LogoTravel.jsx
  frontend/src/components/TravelHeader/components/atoms/RegisterButton.jsx
  frontend/src/components/TravelHeader/components/atoms/TripLink.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
  frontend/src/pages/auth/Register.jsx
  frontend/src/pages/auth/RegisterAlt.jsx
  frontend/src/pages/ticket/Summary.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Change API routes and fix bugs in Passengers
  frontend/src/components/BusTripDetails/components/molecules/BusSeatInfo.jsx
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/services/api.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Fix bug with Passenger
  frontend/src/components/BusTripDetails/components/molecules/BusSeatInfo.jsx
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/utils/dateUtils.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

ci(frontend): :rocket: deploy on push
  .github/workflows/deploy_frontend.yml
Due: none

style(frontend): Se cambio estilos del Navbar y Logo en Footer (#253)
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NavigationLinks.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(backend): :recycle: improve reservation endpoints
  backend/controllers/route.js
  backend/database/models/ticket.js
  backend/docs/api-docs.json
  backend/routes/reservation.js
  backend/routes/ticket.js
  backend/services/reservation.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(frontend): :bug: Fix more bugs
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/CreditCardForm/CreditCardForm.jsx
  frontend/src/components/PassengerForm/components/atoms/SubtitleForm.jsx
  frontend/src/components/PassengerForm/components/atoms/TitleForm.jsx
  frontend/src/components/PassengerForm/components/molecules/TitleSubtitle.jsx
  frontend/src/components/PassengerForm/components/organisms/PassengerForm.jsx
  frontend/src/pages/ticket/TripReservation.jsx
  frontend/src/router.jsx
  frontend/src/services/api.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :ambulance: Hardcode stuff
  frontend/src/components/PurchaseDetails/PurchaseDetails.jsx
  frontend/src/pages/ticket/TripReservation.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

252 fix home page styles (#254)
  frontend/src/components/Navbar/Navbar.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

restore README.md
  README.md
Due: none

fix(frontend): :bug: Fix more stuff
  frontend/src/components/PassengerForm/components/molecules/FormNavigation.jsx
  frontend/src/components/PassengerForm/components/organisms/PassengerForm.jsx
  frontend/src/services/api.js
  frontend/src/store/Form/formActions.js
  frontend/src/store/Form/formReducer.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :twisted_rightwards_arrows: Merge backend from branch develop
  backend/controllers/route.js
  backend/database/models/ticket.js
  backend/docs/api-docs.json
  backend/routes/reservation.js
  backend/routes/ticket.js
  backend/services/reservation.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

refactor: :twisted_rightwards_arrows: Merge branch develop
  .github/workflows/deploy_frontend.yml
  README.md
  frontend.patch
  package-lock.json
Due: prettier --write

style(frontend): logo and title fixed
  frontend/index.html
  frontend/public/vite.svg
Due: node scripts/verifyScope.js frontend, prettier --write

Update README.md
  README.md
Due: none
