Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

21 registro y gestion de usuarios (#66)
  backend/app.js
  backend/config/keys.js
  backend/config/passport.js
  backend/controllers/auth.js
  backend/controllers/user.js
  backend/database/models/index.js
  backend/database/models/user.js
  backend/helpers/catchAsync.js
  backend/helpers/error.js
  backend/helpers/success.js
  backend/package.json
  backend/routes/auth.js
  backend/routes/users.js
  backend/services/auth.js
  backend/services/user.js
  package-lock.json
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add functionality to select Travel and update store travel
  frontend/src/components/ChooseTravel/Schedule.css
  frontend/src/components/ChooseTravel/Schedule.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement functionality to disable ContinueButton
  frontend/src/components/ContinueButton.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Use redux store seatQuantity in page SeatSelection
  frontend/src/pages/SeatSelection.jsx
  frontend/src/store/Seat/seatReducer.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement redux functionality on component Seats
  frontend/src/components/Seats/Seats.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Implement store seatSelected to disable component ContinueButton
  frontend/src/components/ContinueButton.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): different aliases for terminal associations
  backend/database/models/terminal.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): component reviews created
  frontend/src/components/ReviewsHome/Reviews.jsx
  frontend/src/components/Steps/Steps.jsx
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Add component Navbar to StepsLayout (#88)
  frontend/src/assets/Navbar/hamburgerbar.svg
  frontend/src/assets/Navbar/person.svg
  frontend/src/components/Navbar/Logo.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/UserActions.jsx
  frontend/src/layouts/StepsLayout.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Add functionality to switch colors of component Schedule
  frontend/package.json
  frontend/src/assets/arrow-white.svg
  frontend/src/components/ChooseTravel/Schedule.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Modify FormSearchTravels component functionality (#90)
  frontend/src/components/FormSearchTravels/components/atoms/AutocompleteIcon.jsx
  frontend/src/components/FormSearchTravels/components/atoms/AutocompleteInput.jsx
  frontend/src/components/FormSearchTravels/components/atoms/DateInput.jsx
  frontend/src/components/FormSearchTravels/components/atoms/DropdownItem.jsx
  frontend/src/components/FormSearchTravels/components/atoms/InputFieldNumber.jsx
  frontend/src/components/FormSearchTravels/components/atoms/SearchButton.jsx
  frontend/src/components/FormSearchTravels/components/molecules/DropdownContent/DropdownContent.jsx
  frontend/src/components/FormSearchTravels/components/molecules/NumberInput/NumberInput.jsx
  frontend/src/components/FormSearchTravels/components/organisms/Autocomplete.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/FormSearchTravels/hooks/useAutocomplete.jsx
  frontend/src/utils/dateUtils.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): changed Seats style to be more accurate with Figma's design
  frontend/src/assets/Seats/driver.svg
  frontend/src/assets/Seats/driverasd.svg
  frontend/src/assets/Seats/wc.svg
  frontend/src/components/Seats/Seats.jsx
  frontend/src/components/Seats/Toast.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

87 crear endpoints para terminal ciudad (#92)
  backend/controllers/city.js
  backend/controllers/terminal.js
  backend/routes/city.js
  backend/routes/terminal.js
  backend/services/city.js
  backend/services/terminal.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

83-api-endpoint-para-la-autenticación-de-usuarios (#94)
  .github/workflows/deploy_backend.yml
  .github/workflows/deploy_frontend.yml
  backend/app.js
  backend/config/cors.js
  backend/controllers/auth.js
  backend/controllers/user.js
  backend/database/seeders/20240214225853-demo-user.js
  backend/docs/swaggerDefinitions.js
  backend/package.json
  backend/routes/auth.js
  backend/routes/users.js
  package-lock.json
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

docs(backend): fix error status on auth docs (#96)
  backend/routes/auth.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(frontend): :bug: Fix bug component Seats with Redux
  frontend/src/components/Seats/Seats.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Create TripReservation section with column layout
  frontend/src/layouts/StepsLayout.jsx
  frontend/src/pages/ticket/TripReservation.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): prescard component modified to make it responsive
  frontend/src/assets/PricesCard/bed.svg
  frontend/src/assets/PricesCard/bed1.svg
  frontend/src/assets/PricesCard/reclinable.svg
  frontend/src/assets/PricesCard/tv.svg
  frontend/src/components/PricesCard/PriceList.jsx
  frontend/src/components/PricesCard/PricesCard.jsx
  frontend/src/components/PricesCard/SeatLegendList.jsx
  frontend/src/components/PricesCard/SeatLegendRow.jsx
  frontend/src/pages/SeatSelection.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat: :sparkles: API home page
  backend/public/stylesheets/style.css
  backend/routes/index.js
  backend/views/index.jade
  backend/views/layout.jade
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

Create deploy_frontend_vercel
  .github/workflows/deploy_frontend_vercel
Due: none

Rename deploy_frontend_vercel to deploy_frontend_vercel.yml
  .github/workflows/deploy_frontend_vercel.yml
Due: none

Update deploy_frontend_vercel.yml
  .github/workflows/deploy_frontend_vercel.yml
Due: none

ci: fix deploy frontend to vercel
  .github/workflows/deploy_frontend_vercel.yml
Due: none

chore: add vercel deploy script (#105)
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

Update package.json
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix: add vercel env variable
  .github/workflows/deploy_frontend_vercel.yml
Due: none

fix(frontend): :bug: move react-icons dependency from global to frontend
  frontend/package.json
  package.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix(frontend): :bug: last cry
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix(frontend): :bug: Fix bug with redirect and disable github auto-deploy
  frontend/vercel.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix(frontend): :bug: Test to see if deploy works
  frontend/vercel.json
Due: node scripts/verifyScope.js frontend, prettier --write

feat(frontend): Add BusTripDetails component
  frontend/src/assets/BusTripDetails/Arrow Back.png
  frontend/src/assets/BusTripDetails/Bus.svg
  frontend/src/assets/BusTripDetails/Seat.svg
  frontend/src/components/BusTripDetails/components/atoms/BackButton.jsx
  frontend/src/components/BusTripDetails/components/atoms/BusPrice.jsx
  frontend/src/components/BusTripDetails/components/atoms/BusSeatButton.jsx
  frontend/src/components/BusTripDetails/components/atoms/ContinueButton.jsx
  frontend/src/components/BusTripDetails/components/atoms/Divider.jsx
  frontend/src/components/BusTripDetails/components/atoms/HorizontalLabelPair.jsx
  frontend/src/components/BusTripDetails/components/atoms/ReturnButton.jsx
  frontend/src/components/BusTripDetails/components/atoms/ServiceLabel.jsx
  frontend/src/components/BusTripDetails/components/atoms/TimeRange.jsx
  frontend/src/components/BusTripDetails/components/atoms/TripDetailsHeader.jsx
  frontend/src/components/BusTripDetails/components/molecules/BusSeatInfo.jsx
  frontend/src/components/BusTripDetails/components/molecules/LocationArrowRow.jsx
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/BusTripDetails/index.jsx
  frontend/src/components/Steps/Steps.jsx
  frontend/src/components/TravelHeader/components/atoms/IconCityLink.jsx
  frontend/src/pages/ticket/TripReservation.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): href path for return and continue buttons
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/FormSearchTravels/components/atoms/AutocompleteIcon.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Added Passenger Form component
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/FormSearchTravels/components/atoms/AutocompleteIcon.jsx
  frontend/src/components/FormSearchTravels/components/organisms/Autocomplete.jsx
  frontend/src/components/PassengerForm/components/atoms/ContinueButton.jsx
  frontend/src/components/PassengerForm/components/atoms/LeftButton.jsx
  frontend/src/components/PassengerForm/components/atoms/PassengerList.jsx
  frontend/src/components/PassengerForm/components/atoms/PassengerNumber.jsx
  frontend/src/components/PassengerForm/components/atoms/RightButton.jsx
  frontend/src/components/PassengerForm/components/atoms/SelectForm.jsx
  frontend/src/components/PassengerForm/components/atoms/SubtitleForm.jsx
  frontend/src/components/PassengerForm/components/atoms/TextInput.jsx
  frontend/src/components/PassengerForm/components/atoms/TitleForm.jsx
  frontend/src/components/PassengerForm/components/molecules/FormNavigation.jsx
  frontend/src/components/PassengerForm/components/molecules/PassengerDropdownButton.jsx
  frontend/src/components/PassengerForm/components/molecules/TitleSubtitle.jsx
  frontend/src/components/PassengerForm/components/organisms/PassengerForm.jsx
  frontend/src/components/PassengerForm/index.jsx
  frontend/src/components/TravelHeader/components/atoms/LogoTravel.jsx
  frontend/src/pages/ticket/TripReservation.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontned): timer for payment page was created
  frontend/src/assets/BusTripDetails/Timer.svg
  frontend/src/components/Timer/Timer.jsx
  frontend/src/pages/ticket/TripReservation.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

Update TripReservation.jsx
  frontend/src/pages/ticket/TripReservation.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

59 crear endpoints de horarios y rutas (#108)
  backend/app.js
  backend/controllers/route.js
  backend/controllers/schedule.js
  backend/database/models/route.js
  backend/database/models/schedule.js
  backend/helpers/getDayName.js
  backend/routes/route.js
  backend/routes/schedules.js
  backend/services/route.js
  backend/services/schedule.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

60 crear enpoints de vehicles y amenities (#117)
  backend/app.js
  backend/controllers/amenity.js
  backend/controllers/vehicle.js
  backend/database/migrations/20240216235709-create-amenity.js
  backend/database/migrations/20240218221909-create-schedule.js
  backend/database/migrations/20240225061959-create-vehicle-amenity.js
  backend/database/models/amenity.js
  backend/database/models/vehicle.js
  backend/database/models/vehicleamenity.js
  backend/database/seeders/20240217011051-demo-vehicle.js
  backend/database/seeders/20240217011139-demo-amenity.js
  backend/database/seeders/20240225085705-demo-vehicle-amenity.js
  backend/routes/amenity.js
  backend/routes/vehicle.js
  backend/services/amenity.js
  backend/services/vehicle.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): add model reservation and seat (#104)
  backend/database/migrations/20240216192955-create-seat.js
  backend/database/migrations/20240219000320-create-reservation.js
  backend/database/models/reservation.js
  backend/database/models/seat.js
  backend/database/seeders/20240222023732-demo-seat.js
  backend/database/seeders/20240222023801-demo-reservation.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): Toast component is now reusable (#118)
  frontend/src/components/Seats/Seats.jsx
  frontend/src/components/Seats/Toast.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

Path conditions:
  node scripts/verifyScope.js frontend: any of: frontend/**/*
  node scripts/verifyScope.js backend: any of: backend/**/*
  prettier --write: ((((((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,ts})) or (any of: *.json)) or (any of: *.ts)) or (any of: *.js)) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: (((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,ts})) or (any of: *.ts)) or (any of: *.js)
