Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

.lintstagedrc:

{
  "frontend/**/*": "node scripts/verifyScope.js frontend",
  "backend/**/*": "node scripts/verifyScope.js backend",
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "backend/**/*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write"],
  "*.scss": "prettier --write"
}

feat(frontend): purchase data form created
  frontend/src/components/DataForm/DataForm.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): change images
  frontend/src/components/Benefits/BenefitPictures.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

style(frontend): image and text changed
  frontend/src/components/Hero/Hero.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): added endpoints
  backend/app.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): added error validations for city
  backend/controllers/city.js
  backend/services/city.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): añadido documentación para el endpoint de city
  backend/routes/city.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

refactor(backend): removed swagger-jsdoc dependency
  backend/package.json
Due: node scripts/verifyScope.js backend, prettier --write

feat(backend): added configuration for the usage of a JSON file for SwaggerUI
  backend/app.js
  backend/config/swagger.js
  backend/docs/api-docs.json
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): refactor to CommonJS and fixed import
  backend/app.js
  backend/config/swagger.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

refactor(backend): added the exported api-docs from Apidog
  backend/docs/api-docs.json
Due: node scripts/verifyScope.js backend, prettier --write

docs(backend): removed swagger comments in city route
  backend/routes/city.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): updated and cleaned required operations
  backend/services/city.js
  backend/services/terminal.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): reinforced code with validations
  backend/controllers/terminal.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): added terminal endpoint docs and removed an example endpoint
  backend/docs/api-docs.json
Due: node scripts/verifyScope.js backend, prettier --write

docs(backend): deleted swagger schema definition file
  backend/docs/swaggerDefinitions.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

revert(frontend): restored code, review the pull 133
  frontend/src/components/Hero/Hero.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create page Register wtih functionality
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/Register/eye-slash.svg
  frontend/src/assets/Register/eye.svg
  frontend/src/assets/Register/google-icon.svg
  frontend/src/assets/Register/registerImage.webp
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NavigationLinks.jsx
  frontend/src/components/Register/MailInput.jsx
  frontend/src/components/Register/NumberInput.jsx
  frontend/src/components/Register/PasswordInput.jsx
  frontend/src/components/Register/SelectForm.jsx
  frontend/src/components/Register/TextInput.jsx
  frontend/src/hooks/useRegister.js
  frontend/src/pages/auth/Register.jsx
  frontend/src/router.jsx
  frontend/src/services/.gitkeep
  frontend/src/services/api.js
  frontend/src/services/auth.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Add heroicons/react to package.json
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix(frontend): :bug: Fix button type in page Register
  frontend/src/pages/auth/Register.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(frontend): :bug: Install react-icons to fix deploy bug
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

fix(backend): fixed the url property into servers from the Swagger definition object
  backend/config/swagger.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create new layout for User pages (#136)
  frontend/src/assets/UserHeader/user-header.webp
  frontend/src/assets/UserNavbar/random-user-avatar.webp
  frontend/src/assets/person.svg
  frontend/src/components/UserHeader/UserHeader.jsx
  frontend/src/components/UserNavbar/UserNavbar.jsx
  frontend/src/components/UserRoutes/UserRoutes.jsx
  frontend/src/layouts/UserLayout.jsx
  frontend/src/pages/auth/user/MyPurchases.jsx
  frontend/src/pages/auth/user/UserSettings.jsx
  frontend/src/pages/auth/user/UserTravelDistance.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): updated Swagger docs and migration files
  backend/config/swagger.js
  backend/database/migrations/20240216192955-create-seat.js
  backend/database/migrations/20240216231702-create-vehicle.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): rollback
  backend/config/config.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): Added Tailwind color palette and improved FormSearchTravel validation.
  frontend/src/components/BusTripDetails/components/atoms/BusSeatButton.jsx
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/FormSearchTravels/components/atoms/DropdownItem.jsx
  frontend/src/components/FormSearchTravels/components/molecules/DropdownContent/DropdownContent.jsx
  frontend/src/components/FormSearchTravels/components/organisms/Autocomplete.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/PassengerForm/components/atoms/SelectForm.jsx
  frontend/src/components/PassengerForm/components/molecules/FormNavigation.jsx
  frontend/src/components/PassengerForm/components/organisms/PassengerForm.jsx
  frontend/src/components/PassengersClub/PassengersClub.jsx
  frontend/src/components/PromoRegister/components/atoms/RegisterButton.jsx
  frontend/src/components/PromoRegister/components/organisms/PromoRegister.jsx
  frontend/src/components/TravelHeader/components/atoms/IconCityLink.jsx
  frontend/src/components/TravelHeader/components/atoms/LinkWithIcon.jsx
  frontend/src/components/TravelHeader/components/atoms/SingleCityLink.jsx
  frontend/src/components/TravelHeader/components/atoms/TripLink.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
  frontend/src/index.css
  frontend/src/pages/ticket/TripReservation.jsx
  frontend/tailwind.config.js
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): added web Socket config
  backend/bin/www
Due: node scripts/verifyScope.js backend

feat(backend): added dependency "ws"
  backend/package.json
Due: node scripts/verifyScope.js backend, prettier --write

feat(backend): added web Socket definitions
  backend/webSocket.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(frontend): Correct element positioning on page change in React Router DOM
  frontend/src/components/BusTripDetails/components/organisms/BusTripDetails.jsx
  frontend/src/components/TravelHeader/components/organisms/TravelHeader.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): se modifica Endpoint de GetAvailableSchedules en función de Ciudad (#141)
  backend/controllers/schedule.js
  backend/services/schedule.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): add hook for seats (#148)
  backend/database/migrations/20240216231702-create-seat.js
  backend/database/models/seat.js
  backend/database/models/vehicle.js
  backend/database/seeders/20240222023732-demo-seat.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(frontend): userTravelDistance component
  frontend/src/assets/UserDistance/img1.png
  frontend/src/assets/UserDistance/img2.png
  frontend/src/pages/auth/user/UserTravelDistance.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): UserId allow null en modelo de pasajero.
  backend/database/models/passenger.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

fix(backend): Migracion tabla temporal BlockedSeats
  backend/database/migrations/20240216231702-create-seat.js
  backend/database/models/seat.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): Middleware de validación de zod. (#153)
  backend/controllers/route.js
  backend/middlewares/validateSchema.js
  backend/routes/route.js
  backend/schemas/routeSchema.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

ci: add deploy script for netlify
  package.json
Due: prettier --write
