Repository TomasBran/Ticket-Bus: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

.lintstagedrc:

{
  "frontend/**/*": "node scripts/verifyScope.js frontend",
  "backend/**/*": "node scripts/verifyScope.js backend",
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "backend/**/*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write"],
  "*.scss": "prettier --write"
}

ci: :construction_worker: github templates
  .github/ISSUE_TEMPLATE/user_story.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(backend): :tada: begin backend project
  backend/package.json
Due: node scripts/verifyScope.js backend, prettier --write

feat(frontend): :tada: begin frontend project
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

chore: :wrench: editor settings
  .vscode/settings.json
Due: prettier --write

feat(frontend): :sparkles: Setup Vite (#4)
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
  package-lock.json
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): start express server
  backend/.env.example
  backend/app.js
  backend/bin/www
  backend/package.json
  backend/public/stylesheets/style.css
  backend/routes/index.js
  backend/routes/users.js
  backend/views/error.jade
  backend/views/index.jade
  backend/views/layout.jade
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

chore: :arrow_up: dev:back script
  package-lock.json
  package.json
Due: prettier --write

feat: Create Docker Database enviroment (#7)
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write

fix: delete package-lock
  package-lock.json
Due: prettier --write

fix: package-lock
  package-lock.json
Due: prettier --write

Feature/tailwind dark mode (#10)
  frontend/index.html
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/index.css
  frontend/tailwind.config.js
  package-lock.json
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): setting up sequelize
  backend/.sequelizerc
  backend/config/config.js
  backend/database/models/index.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): user model
  backend/database/migrations/20240214002338-create-user.js
  backend/database/models/user.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

style(frontend): lexend font imported (#14)
  frontend/src/index.css
Due: node scripts/verifyScope.js frontend

chore(frontend): :truck: Setup initial project structure (#19)
  frontend/src/hooks/.gitkeep
  frontend/src/pages/.gitkeep
  frontend/src/services/.gitkeep
  frontend/src/store/.gitkeep
  frontend/src/utils/.gitkeep
Due: node scripts/verifyScope.js frontend

feat(frontend): :sparkles: Create component TravelStepsCard.jsx
  frontend/src/components/TravelStepsCard.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create component TravelSteps.jsx which uses TravelStepsCards.jsx
  frontend/src/assets/TravelSteps/arribo.svg
  frontend/src/assets/TravelSteps/destino.svg
  frontend/src/assets/TravelSteps/linea.svg
  frontend/src/assets/TravelSteps/servicio.svg
  frontend/src/components/TravelSteps.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :art: Refactor component TravelSteps.jsx into TravelStepsHeader.jsx
  frontend/src/components/TravelStepsHeader.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

refactor(frontend): :art: Rename component TravelSteps into TravelStepsWrapper
  frontend/src/components/TravelStepsWrapper.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(backend): :sparkles: user model and migration
  backend/database/migrations/20240214002338-create-user.js
  backend/database/models/user.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): :sparkles: passenger model and migration
  backend/database/migrations/20240214212155-create-passenger.js
  backend/database/models/passenger.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

chore(backend): :closed_lock_with_key: env variables
  backend/.env.example
  backend/config/config.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

chore(backend): :hammer: script order
  package.json
Due: prettier --write

feat(hero component): componente hero, va en la vista de home
  frontend/src/App.jsx
  frontend/src/Hero.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): se creo un componente para mostrar imagenes de beneficios
  frontend/src/components/BenefitPictures.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

Update App.jsx
  frontend/src/App.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): profits page
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/CardProfits.jsx
  frontend/src/Profits.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): organize profits in components
  frontend/src/App.jsx
  frontend/src/Profits.jsx
  frontend/src/assets/TravelSteps/arribo.svg
  frontend/src/assets/TravelSteps/destino.svg
  frontend/src/assets/TravelSteps/linea.svg
  frontend/src/assets/TravelSteps/servicio.svg
  frontend/src/components/BenefitPictures.jsx
  frontend/src/components/CardProfits.jsx
  frontend/src/components/Hero.jsx
  frontend/src/components/Profits.jsx
  frontend/src/components/TravelStepsCard.jsx
  frontend/src/components/TravelStepsHeader.jsx
  frontend/src/components/TravelStepsWrapper.jsx
  frontend/src/hooks/.gitkeep
  frontend/src/pages/.gitkeep
  frontend/src/services/.gitkeep
  frontend/src/store/.gitkeep
  frontend/src/utils/.gitkeep
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Install react-router
  frontend/package.json
Due: node scripts/verifyScope.js frontend, prettier --write

chore: :heavy_plus_sign: Install react-router
  package-lock.json
Due: prettier --write

chore(frontend): :art: Add default export to components
  frontend/src/components/BenefitPictures.jsx
  frontend/src/components/Hero.jsx
  frontend/src/pages/.gitkeep
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Setup routing and main layout
  frontend/src/App.jsx
  frontend/src/layouts/MainLayout.jsx
  frontend/src/router.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): :sparkles: Create component Home.jsx
  frontend/src/pages/Home.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

fix(backend): :bug: update migrations
  backend/database/migrations/20240214002338-create-user.js
  backend/database/migrations/20240214212155-create-passenger.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

feat(backend): :seedling: seed demo user
  backend/database/seeders/20240214225853-demo-user.js
Due: node scripts/verifyScope.js backend, prettier --write, eslint --fix

build(backend): update docker compose
  docker-compose.yml
Due: none

feat(frontend): Added FormSearchTravels component (#31)
  frontend/src/App.jsx
  frontend/src/components/FormSearchTravels/components/atoms/DateInput.jsx
  frontend/src/components/FormSearchTravels/components/atoms/DecrementButton.jsx
  frontend/src/components/FormSearchTravels/components/atoms/IncrementButton.jsx
  frontend/src/components/FormSearchTravels/components/atoms/InputFieldNumber.jsx
  frontend/src/components/FormSearchTravels/components/atoms/SearchButton.jsx
  frontend/src/components/FormSearchTravels/components/atoms/SelectField.jsx
  frontend/src/components/FormSearchTravels/components/molecules/DropdownPassengers/DropdownPassengers.jsx
  frontend/src/components/FormSearchTravels/components/molecules/NumberInput/NumberInput.jsx
  frontend/src/components/FormSearchTravels/components/organisms/FormSearchTravels.jsx
  frontend/src/components/FormSearchTravels/index.jsx
  frontend/src/pages/home/index.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): prop-types
  frontend/src/App.jsx
  frontend/src/components/CardProfits.jsx
  frontend/src/components/Profits.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix

feat(frontend): Travel benefits section created. Footer created.
  frontend/src/App.jsx
  frontend/src/assets/TravelBenefitsSection/digital_tickets.svg
  frontend/src/assets/TravelBenefitsSection/notifications.svg
  frontend/src/assets/TravelBenefitsSection/placeholder.webp
  frontend/src/assets/TravelBenefitsSection/regular_passenger.svg
  frontend/src/assets/TravelBenefitsSection/service_quality.svg
  frontend/src/components/Footer.jsx
  frontend/src/components/TravelBenefitsSection.jsx
Due: node scripts/verifyScope.js frontend, prettier --write, eslint --fix
